#processer-container{
    color: white;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;

    /* background-color: rgba(0, 0, 0, 0.5); */
}

#processer-container header{
    padding: 0 20px 0 25px;
    height: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#processer-container header, footer{
    background-color: var(--main-color);
    padding: 12px;
    min-height: 50px;
    width: 100%;
}

#processer-container header img{
    width: 20px;
    height: 20px;
}

#processer-container #processer-cnv-img{
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: 2;
}
#processer-container #processer-cnv-avatar{
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: 3;
}

/* #processer-container .circle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
} */

/* #processer-container .circle-container::after{
    content: '';
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0);
    width: 300px;
    height: 300px;
}

#processer-container .circle-container .circle{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0);
} */
/*
#processer-container .span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#processer-container .span .main{
    position: relative;
    z-index: 100;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 1;

    overflow: hidden;
}

#processer-container .span .main footer{
    position: relative;
    z-index: 3;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90px;
}

#processer-container .span .main .tool-container{
    position: relative;
    flex: 1;
    justify-content: center;
    width: 100%;

    display: flex;
    align-items: center;
}

#processer-container .span .main .tool-container .zoom-container{
    position: absolute;
    z-index: 4;
    width: 28px;
    right: 7px;
}

#processer-container .span .main .tool-container .cnv-container{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0;
} */



/* #processer-container canvas{
    width: inherit;
    height: inherit;
    display: block;
}





 */