<div id="file-processer" class="dialog" onclick="closeDialogByRef(this)">
    <div onclick="event.stopPropagation();" class="dialog-container">
        <div id="processer-container">
            <header class="header">
                <img src="assets/img/x-mark-2-48.png" alt="">
                <span>Adjust the Image</span>
                <span>Upload</span>
            </header>
            <!-- <div class="zoom-container"></div> -->
            <div>
                <canvas id="processer-cnv-img"></canvas>
                <canvas id="processer-cnv-avatar"></canvas>
            </div>

            <footer></footer>
        </div>
    </div>
</div>