<nav class="desktop-nav mobile-nav">
    <div class="main-links-container">
        <a class="logo-link" href="../index.html"><img class="logo" src="assets/img/logo.png" alt=""></a>
        <!-- <img class="hide-desktop mobile-nav-opener" src="assets/img/menu-4-48.png" alt=""> -->
        <div id="links-container" class="links-container"> 
            <a href="../board.html">BOARD</a>
            <a href="../backlog.html">BACKLOG</a>
            <a href="../addTask.html">ADDTASK</a>
            <a href="../help.html">HELP</a>
        </div>
    </div>
    <img id="profile-img" class="border-box-circle border-box-white" src="assets/img/profile.png" alt="">
</nav>